$themes: (
  light: (
    // body
    color-background: #fff,
    color-text: #212121,
    color-background-lightgrey: #eee,
    // buttons
    button-background-color: #d10057,
    button-text-color: #fff,
    button-background-color-hover: #fff,
    button-text-color-hover: #d10057,
    // inputs
    input-color: #5ac5cf,
    // text
    text-color-primary: #0b0b0b,
    text-color-secondary: #6d727d,
    text-color-tertiary: #847d7e,
    // links
    links-color-primary: #52565d,
    links-color-hover: #d10057,
  ),
  dark: (
    color-background: #37474f,
    color-text: #fff,
    // dark theme color pallete not provided yet.
  ),
);
