.account {
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  display: flex;
  padding: 0 toRem(50);
  @include respond-below(xs) {
    padding: 0;
    flex-wrap: wrap;
  }
  &__sidebar {
    width: 40%;
    padding-right: toRem(40);
    @include respond-below(xs) {
      width: 100%;
    }
  }
  &__form {
    flex-grow: 1;
  }
}
